# Ambiente virtual
.venv/
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de compilación
build/
dist/

# Logs
*.log

# mlruns
mlruns/